@font-face {
    font-family: Vollkorn;
    src: url(../fonts/vollkorn/Vollkorn-Regular.otf);
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	margin: 0px;
	background-color: #f8f8f8;
}

#container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	margin-top: 50px;
}

.space {
  float:left;
  margin: 0px 0px 0px 100px;
  width: 300px;
}

h1 {
	font-size: 24px;
	font-family: 'Vollkorn';
	color: #333;
  margin-bottom: 10px;
}

h2 {
	margin-top: 15px;
	font-size: 14px;
	font-weight: normal;
	opacity: 0.3;
}

h3 {
  font-family: 'Roboto Black', Helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

.smintro {
	line-height: 19px;
	margin: 0 auto;
  float: left;
	width: 175px;
	color: #333;
}

table {
	width: 500px;
	margin: 150px 0px 25px 0px;
}

table img {
  width: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#social {
  width: 400px;
  margin: 0 auto;
}

#social img:hover, #social a {
  margin-top:-5px;
  border-bottom: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.liketext, .retweettext, .snaptext, .reacttext {
  margin: 0 auto;
  margin-left: 70px;
  text-align: left;
  width: 80%;
  line-height: 21px;
  font-size: 15px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

p {
	font-size: 14px;
}

a {
	color: #0000ff;
	text-decoration: none;
	font-weight: bolder;
}

a:hover {
	border-bottom: 2px solid #0000ff;
	padding-bottom: 1px;
}
