/*  Style sheet - Enter name and notes here */



/* From http://green-beast.com/blog/?p=109
  The star selector is used to target every element.  This is
  often used to zero out the margin and padding.  This
  creates some common ground from which to begin.
*/
* {
}

@font-face {
    font-family: Microsoft;
    src: url(../fonts/micross.ttf);
}

body {
	font-family: Microsoft, Helvetica, Arial;
	margin: 0px;
	background-color: #009498;
	color: #000;
	font-size: 21px;
 	overflow: hidden;
}

#container {
	width: 60%;
	margin: 0 auto;
}

nav {
	position: initial;
	width: 150px;
	font-size: 14px;
	color: #fff;
	text-shadow: 1px 1px #000;
	z-index: 22;
	margin: 40px 0px 0px -20px;
	z-index: 1;
}

ul {
}

li {
	text-align: center;
	list-style: none;
	margin-bottom: 30px;
}

li img {
	width: 50px;
	margin-bottom: 5px;
}

#mail {
	position: relative;
	margin: 0 auto;
	margin-top: -400px;
	min-width: 300px;
	width: 312px;
	height: 350px;
	background-image: url(../images/window1.svg);
	text-align: center;
	font-size: 28px;
	z-index: 5;
	display: none;
}

#mail img {
	width: 70px;
	margin-bottom: 55px;
}

.mailcont {
	padding-top: 60px;
}

#cyber {
	position: relative;
	min-width: 300px;
	margin: -200px 0px 0px 650px;
	width: 499px;
	height: 493px;
	background-image: url(../images/window2.svg);
	display: none;
	z-index: 10;
}

.butt {
	font-size: 21px;
	line-height: 45px;
	padding: 12px 31px;
}

.cancel, .cancel2, .cancel3, .cancel4, .cancel5 {
	font-size: 1px;
	line-height: 1px;
	padding: 12px;
	float: right;
}

.cancel {
	margin: -19px 19px 0px 0px;
}

.cancel2 {
	margin: 9px 9px 0px 0px;
}

.cancel3 {
	margin: 11px 15px 0px 0px;
}

.cancel4 {
	margin: -20px 12px 0px 0px;
}

.cancel5 {
	position: absolute;
	margin: -21px 0px 0px 804px;
	padding: 12.5px;
}

#cyber > .butt {
	position: absolute;
	margin: 405px 0px 0px 191px;
	line-height: 45px;
	padding: 0px 45px;

}

.wint, .wint2 {
	margin-left: 20px;
	padding-top: 15px;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px #000;
}

.wint2 {
	padding-top:18px;
	margin-left: 25px;
}

#toc {
	position: relative;
	margin: -400px 0px 0px 250px;
	width: 620px;
	height: 540px;
	background-image: url(../images/window6.svg);
	z-index: 15;
	font-size: 14px;
	display:none;
}

table {
	width: 550px;
	text-align: center;
	margin: 0px 0px 25px 0px;
	border-spacing: 30px;
}

#toc img {
	width: 50px;
}

#toc > .butt {
	padding: 10px 30px;
	margin-left: 254px;
	margin-top: 20px;
}

.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
	text-align: left;
	font-size: 12px;
  background: #ede8b8;
  border-radius: 2px;
  color: #000;
  content: attr(title);
  left: 80%;
	margin-top: -20px;
  padding: 5px;
  position: absolute;
  z-index: 98;
  width: 100px;
}

#toh {
	width: 800px;
	height: 600px;
	background-image: url(../images/window5.svg);
	z-index: 20;
	font-size: 14px;
	display: none;
	margin: -450px 0px 0px 100px;
}

.babar {
	width: 60%;
	padding-top: 45px;
	margin: 0px 0px 0px 50px;
}

.desc {
	font-size: 12px;
	width: 22%;
	float:right;
	margin: -460px 60px 0px 0px;
	line-height: 16px;
}

#enviro {
	z-index: 25;
	position: relative;
	margin: -400px 0px 0px 250px;
	width: 850px;
	height: 636px;
	background-image: url(../images/window5.svg);
	font-size: 25px;
	display: none;
}

#internet {
	width: 620px;
	height: 540px;
	background-image: url(../images/window4.svg);
	z-index: 15;
	font-size: 30px;
	display: none;
}
/*
  A page without paragraphs would be pretty unusual. Let’s make
  sure the p element is included. This, too, may be redefined
  throughout the document  as needed, if needed.
*/
p {
}

a.butt, a.cancel {
	color: #000;
	text-decoration: none;
}

a:active.butt, a:active.cancel, a:active.cancel2, a:active.cancel3, a:active.cancel4, a:active.cancel5 {
	background-color: rgba(0, 0, 0, 0.1);
}

/* code for animated blinking cursor */
.typed-cursor{
		opacity: 1;
		font-weight: 100;
		-webkit-animation: blink 0.7s infinite;
		-moz-animation: blink 0.7s infinite;
		-ms-animation: blink 0.7s infinite;
		-o-animation: blink 0.7s infinite;
		animation: blink 0.7s infinite;
}
@-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-webkit-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-moz-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-ms-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}
@-o-keyframes blink{
		0% { opacity:1; }
		50% { opacity:0; }
		100% { opacity:1; }
}

.type-wrap{
	margin-left: 60px;
	padding-top: 60px;
}

header {
font-size: 26px;
}
