body {
  background:#f1f1f1;
  font-family: "loretta", serif;
  margin:0;
  padding:0;
}

.examples {
  width:700px;
  font-size:100%;
  margin: 0 auto;
}

.column {
  float:left;
  width:15%;
  padding:20px
}

.box{
  -moz-border-radius:5px;
  width:50%;
  margin:10px auto;
  padding:10px;
  float:left;
  position: relative;
}

#font_size {
  color: #ff0000;
  font-family:monospace;
  border: none;
  background:none;
}

#slider1 {
  border: none;
  border-radius: 0;
  height: 1px;
}
